fastapi==0.115.2
uvicorn[standard]==0.30.6
motor==3.6.0
pydantic-settings==2.5.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
email-validator==2.2.0
langchain==0.2.16
langchain-google-genai==1.0.10
google-generativeai==0.7.2
gitpython==3.1.43
tree-sitter==0.22.3
tree-sitter-languages==1.10.2
orjson==3.10.7
python-dotenv==1.0.1
